<body>
  <!-- Sidenav -->
  <% include ../partials/sidebar %>
  <!-- Main content -->
  <div class="main-content">
    <!-- Top navbar -->
    <% include ../partials/navbar %>
    <!-- Header -->
    <% include ../partials/vaccine/header %>
    <!-- Page content -->
     <!-- Page content -->
     <div class="container-fluid mt--7">
      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">Lot list</h3>
              
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">numero</th>
                    <th scope="col">quantité</th>
                    <th scope="col">vaccine Reference</th>
                    <th scope="col">fabrication Date</th>
                    <th scope="col">expiration Date</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <% for(var i=0; i < lots.length; i++) { %>
                    <tr>
                      
                      <td>
                        <%= lots[i].Record.reference %>
                      </td>
                      
                      <td>
                      
                        <%=   lots[i].Record.quantité%>
                      </td>

                      <td>
                        <%=   lots[i].Record.vaccineRef%>
                      </td>

                      <td>
                        <%=   lots[i].Record.fabricationDate%>
                      </td>

                      <td>
                        <%=   lots[i].Record.expirationDate%>
                      </td>
                     
                      
                    </tr>
                 <% } %>


                 
          
                 
                </tbody>
              </table>
            </div>
            
          </div>
        </div>
      </div>
     
      <!-- Footer -->
      <% include ../partials/footer %>
    </div>
  </div>

  <!-- Include scripts -->
  <% include ../partials/scripts %>
</body>
