<body>
  <!-- Sidenav -->
  <% include ../partials/sidebar %>
  <!-- Main content -->
  <div class="main-content">
    <!-- Top navbar -->
    <% include ../partials/navbar %>
    <!-- Header -->
    <% include ../partials/vaccine/header %>
    <!-- Page content -->
     <!-- Page content -->
     <div class="container-fluid mt--7">
      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">Vaccines list</h3>
              
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Reference</th>
                    <th scope="col">State</th>
                    <th scope="col">Issue date</th>
                    <th scope="col">Composition</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <% for(var i=0; i < vaccines.length; i++) { %>
                    <tr>
                      
                      <td>
                        <%= vaccines[i].Record.name %>
                      </td>
                      
                      <td>
                      
                        <%=   vaccines[i].Record.reference%>
                      </td>
                      <td>
                        <span class="badge badge-dot mr-4">
                      


                          <%if (vaccines[i].Record.currentState == 1) { %>
                            <i class="bg-yellow"></i>  PENDING
                            <% } %>
                            <%if (vaccines[i].Record.currentState ==2 ) { %>
                              <i class="bg-success"></i>  APPROVED
                            <% } %>
                            <%if (vaccines[i].Record.currentState ==3 ) { %>
                              <i class="bg-red"></i>  DECLINED
                             <% } %>
                        </span>
                      </td>
                      <td>
                        <%=   vaccines[i].Record.issueDateTime%>
                       
                      </td>
                      <td>
                        <%=   vaccines[i].Record.composition%>
                       
                      </td>
                      <td class="text-right">
                        <div class="dropdown">
                          <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                            <a class="dropdown-item" href="/approve-vaccine?ref=<%= vaccines[i].Record.reference %>">Approve</a>
                            <a class="dropdown-item" href="/decline-vaccine?ref=<%= vaccines[i].Record.reference %>">Decline</a>
                            
                          </div>
                        </div>
                      </td>
                    </tr>
                 <% } %>


                 
          
                 
                </tbody>
              </table>
            </div>
            
          </div>
        </div>
      </div>
     
      <!-- Footer -->
      <% include ../partials/footer %>
    </div>
  </div>

  <!-- Include scripts -->
  <% include ../partials/scripts %>
</body>
